* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
@media (min-width: 780px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }
}
@media (min-width: 1260px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
.grid--desktop {
  display: block;
}
@media (min-width: 1260px) {
  .grid--desktop {
    display: grid;
  }
}
.grid--tablet {
  display: block;
}
@media (min-width: 780px) {
  .grid--tablet {
    display: grid;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 780px) {
  .grid__item--tablet-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

.page {
  font-family: "Josefin Sans", sans-serif;
}
.page__params {
  margin-bottom: 70px;
}
@media (min-width: 1260px) {
  .page__params {
    margin-bottom: 165px;
  }
}
.page__top {
  margin-bottom: 50px;
}
@media (min-width: 550px) {
  .page__top {
    margin-bottom: 70px;
  }
}
@media (min-width: 1260px) {
  .page__top {
    margin-bottom: 110px;
  }
}
.page__conference-hall {
  margin-bottom: 450px;
}
@media (min-width: 550px) {
  .page__conference-hall {
    margin-bottom: 350px;
  }
}
@media (min-width: 1260px) {
  .page__conference-hall {
    margin-bottom: 370px;
  }
}
.page__menu {
  margin-bottom: 70px;
}
@media (min-width: 550px) {
  .page__menu {
    margin-bottom: 100px;
  }
}
@media (min-width: 1260px) {
  .page__menu {
    margin-bottom: 155px;
  }
}
.page__projects {
  margin-bottom: 70px;
}
@media (min-width: 780px) {
  .page__projects {
    margin-bottom: 100px;
  }
}
@media (min-width: 1260px) {
  .page__projects {
    margin-bottom: 155px;
  }
}
.page__form {
  margin-bottom: 50px;
}
@media (min-width: 550px) {
  .page__form {
    margin-bottom: 70px;
  }
}
@media (min-width: 1260px) {
  .page__form {
    margin-bottom: 110px;
  }
}
.page__propose {
  margin-bottom: 70px;
}
@media (min-width: 780px) {
  .page__propose {
    margin-bottom: 100px;
  }
}
@media (min-width: 1260px) {
  .page__propose {
    margin-bottom: 145px;
  }
}
.page__placement-scheme {
  margin: 0 0 100px;
}

.container {
  padding: 0 20px;
  max-width: 1160px;
  margin: 0 auto;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title__before-line {
  width: 25%;
  height: 2px;
  background-color: #c09b78;
}
.title__before-line::after {
  content: "";
  display: block;
  background-color: #c09b78;
  width: 24.5%;
  height: 3px;
  position: relative;
  left: 75.5%;
  top: 3px;
}
.title__text {
  font-size: 25px;
  font-weight: 600;
}
@media (min-width: 550px) {
  .title__text {
    font-size: 33px;
  }
}
@media (min-width: 1260px) {
  .title__text {
    font-size: 42px;
  }
}
.title__after-line {
  height: 2px;
  width: 25%;
  background-color: #c09b78;
}
.title__after-line::before {
  content: "";
  display: block;
  background-color: #c09b78;
  width: 24.5%;
  height: 3px;
  position: relative;
  top: 3px;
}

.top {
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/congress_hall-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .top {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (min-width: 780px) {
  .top {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1260px) {
  .top {
    padding-top: 130px;
    padding-bottom: 75px;
  }
}
.top__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 35px;
}
@media (min-width: 550px) {
  .top__title {
    font-size: 45px;
    margin-bottom: 45px;
  }
}
@media (min-width: 780px) {
  .top__title {
    font-size: 55px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1260px) {
  .top__title {
    font-size: 64px;
    margin-bottom: 70px;
  }
}
.top__subtitle {
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 550px) {
  .top__subtitle {
    margin-bottom: 35px;
  }
}
@media (min-width: 780px) {
  .top__subtitle {
    font-size: 17px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1260px) {
  .top__subtitle {
    text-align: left;
    font-size: 20px;
    margin-bottom: 50px;
  }
}
.top__subtitle--wedding {
  font-weight: 600;
}
.top__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #c09b78;
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin-bottom: 30px;
  border: 2px solid #c09b78;
  transition: background-color, color, 0.3s;
}
@media (min-width: 550px) {
  .top__button {
    width: 70%;
    margin: 0 auto 40px;
  }
}
@media (min-width: 780px) {
  .top__button {
    font-size: 20px;
    width: 50%;
    margin: 0 auto 60px;
  }
}
@media (min-width: 1260px) {
  .top__button {
    width: 374px;
    height: 65px;
    font-size: 30px;
    margin-bottom: 80px;
  }
}
.top__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #c09b78;
}
.top__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
  text-align: center;
}
@media (min-width: 780px) {
  .top__text {
    font-size: 17px;
  }
}
@media (min-width: 1260px) {
  .top__text {
    width: 550px;
    text-align: left;
    font-size: 20px;
  }
}
.top__call {
  display: block;
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: all 0.8s ease;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}
@media (min-width: 550px) {
  .top__call {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
@media (min-width: 780px) {
  .top__call {
    font-size: 42px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1260px) {
  .top__call {
    text-align: left;
    font-size: 50px;
  }
}
.top__call:hover {
  transform: scale(1.1);
  color: #c09b78;
}

.slider {
  overflow: hidden;
  position: relative;
}
.slider__item {
  width: 100%;
  position: relative;
  text-align: center;
}
@media (min-width: 1260px) {
  .slider__item {
    width: 1160px;
  }
}
.slider__item .top-wedding {
  visibility: hidden;
}
.slider__item, .slider .slick-active .top-wedding {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.slider__item img {
  position: relative;
  width: 100%;
  height: 665px;
}

.slick-track {
  display: flex;
}
.slick-arrow {
  visibility: hidden;
  position: absolute;
  top: 40%;
  border: none;
  z-index: 99;
  font-size: 0;
  width: 18px;
  height: 30px;
}
@media (min-width: 1260px) {
  .slick-arrow {
    visibility: visible;
  }
}
.slick-prev {
  left: 22%;
  background: url("../image/arrow-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slick-next {
  background: url("../image/arrow-right.png");
  right: 22%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slick-dots {
  z-index: 99;
  position: relative;
  top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slick-dots button {
  font-size: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(90, 90, 90, 0.3);
  border: none;
}
@media (min-width: 780px) {
  .slick-dots button {
    height: 20px;
    width: 20px;
  }
}
@media (min-width: 1260px) {
  .slick-dots button {
    height: 25px;
    width: 25px;
  }
}
.slick-dots li.slick-active button {
  background-color: rgba(150, 150, 150, 0.9);
}

.top-wedding {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 75px;
}
.top-wedding__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: 600;
}
@media (min-width: 550px) {
  .top-wedding__title {
    font-size: 40px;
  }
}
@media (min-width: 780px) {
  .top-wedding__title {
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .top-wedding__title {
    font-size: 64px;
  }
}
.top-wedding__subtitle {
  max-width: 800px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  margin-bottom: 30px;
}
@media (min-width: 550px) {
  .top-wedding__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1260px) {
  .top-wedding__subtitle {
    font-size: 27px;
  }
}
.top-wedding__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  background-color: #c09b78;
  width: 20%;
  height: 50px;
  margin-bottom: 80px;
  border: 2px solid #c09b78;
  transition: background-color, color, 0.3s;
}
@media (min-width: 550px) {
  .top-wedding__button {
    font-size: 20px;
    width: 400px;
  }
}
@media (min-width: 780px) {
  .top-wedding__button {
    font-size: 25px;
    height: 65px;
    width: 500px;
  }
}
@media (min-width: 1260px) {
  .top-wedding__button {
    font-size: 30px;
    width: 374px;
    height: 65px;
  }
}
.top-wedding__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #c09b78;
}
.top-wedding__text {
  max-width: 950px;
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 65px;
}
.top-wedding__call {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  transition: all 0.8s ease;
}
@media (min-width: 780px) {
  .top-wedding__call {
    font-size: 50px;
  }
}
.top-wedding__call:hover {
  transform: scale(1.1);
  color: #c09b78;
}

.placement-scheme__title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 85px;
  font-weight: 600;
}
@media (min-width: 550px) {
  .placement-scheme__title {
    font-size: 27px;
  }
}
@media (min-width: 780px) {
  .placement-scheme__title {
    font-size: 35px;
  }
}
@media (min-width: 1260px) {
  .placement-scheme__title {
    font-size: 42px;
  }
}
.placement-scheme__tabs {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
}
@media (min-width: 780px) {
  .placement-scheme__tabs {
    flex-direction: row;
  }
}
.placement-scheme__tab {
  height: 65px;
  width: 100%;
  font-size: 15px;
  font-weight: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border-radius: 33px;
  border: 1px solid #c09b78;
  transition: all 0.8s ease;
  cursor: pointer;
  margin-bottom: 30px;
}
.placement-scheme__tab.active {
  font-weight: 900;
  background-color: #c09b78;
  color: #fff;
}
@media (min-width: 550px) {
  .placement-scheme__tab {
    font-size: 20px;
    width: 320px;
  }
}
@media (min-width: 780px) {
  .placement-scheme__tab {
    width: 210px;
    font-size: 16px;
  }
}
@media (min-width: 1260px) {
  .placement-scheme__tab {
    width: 320px;
    margin-bottom: 0;
    font-size: 27px;
  }
}
.placement-scheme__container {
  position: relative;
}
.placement-scheme__content {
  animation: fade 1s ease;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}
.placement-scheme__content.active {
  display: block;
}
.placement-scheme__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1260px) {
  .placement-scheme__wrapper {
    flex-direction: row;
  }
}
.placement-scheme__left {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100%;
}
@media (min-width: 1260px) {
  .placement-scheme__left {
    width: 50%;
  }
}
.placement-scheme__right {
  width: 100%;
  height: 450px;
}
@media (min-width: 1260px) {
  .placement-scheme__right {
    width: 50%;
  }
}

.params__wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 70px;
}
@media (min-width: 780px) {
  .params__wraper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1260px) {
  .params__wraper {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.params__title {
  margin-bottom: 50px;
}
@media (min-width: 550px) {
  .params__title {
    margin-bottom: 70px;
  }
}
@media (min-width: 780px) {
  .params__title {
    margin-bottom: 90px;
  }
}
@media (min-width: 1260px) {
  .params__title {
    margin-bottom: 100px;
  }
}
.params__el {
  width: 100%;
  margin-bottom: 70px;
}
@media (min-width: 550px) {
  .params__el {
    margin-bottom: 100px;
  }
}
@media (min-width: 780px) {
  .params__el {
    width: 50%;
  }
}
@media (min-width: 1260px) {
  .params__el {
    width: max-content;
    margin-bottom: 0;
  }
}
.params__squere {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.params__squere--image {
  width: 70px;
  height: 70px;
  background-image: url(../image/area.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
.params__squere--number {
  display: block;
  font-size: 70px;
  font-weight: 700;
  color: #c09b78;
}
.params__squere--text {
  font-weight: 350;
  font-size: 25px;
}
.params__people {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.params__people--image {
  background-image: url(../image/presentation.png);
  width: 85px;
  height: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 45px;
}
.params__people--number {
  display: block;
  font-size: 70px;
  font-weight: 700;
  color: #c09b78;
}
.params__people--text {
  font-weight: 350;
  font-size: 25px;
}
.params__squere-big {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.params__squere-big--image {
  background-image: url(../image/area.png);
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
.params__squere-big--number {
  display: block;
  font-size: 70px;
  font-weight: 700;
  color: #c09b78;
}
.params__squere-big--text {
  font-weight: 350;
  font-size: 25px;
  text-align: center;
}
@media (min-width: 1260px) {
  .params__squere-big--text {
    text-align: left;
  }
}
.params__halls {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.params__halls--image {
  background-image: url(../image/blockchain.png);
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
.params__halls--number {
  display: block;
  font-size: 70px;
  font-weight: 700;
  color: #c09b78;
}
.params__halls--text {
  font-weight: 350;
  font-size: 25px;
}
.params__bottom {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  font-weight: 500;
  font-size: 25px;
}

.conference-hall {
  color: #fff;
}
.conference-hall__bottom {
  border-radius: 20px;
  padding: 15px 20px;
  background-color: rgba(192, 155, 120, 0.6);
  z-index: 100;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: -500px;
}
@media (min-width: 550px) {
  .conference-hall__bottom {
    top: 190px;
  }
}
@media (min-width: 780px) {
  .conference-hall__bottom {
    font-size: 17px;
    top: 250px;
  }
}
@media (min-width: 1260px) {
  .conference-hall__bottom {
    top: 30px;
    font-size: 20px;
  }
}
.conference-hall__background {
  height: 950px;
  width: 100%;
  background-image: url(../image/background_slider.jpg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .conference-hall__background {
    height: 1150px;
  }
}
@media (min-width: 780px) {
  .conference-hall__background {
    height: 1300px;
  }
}
@media (min-width: 1100px) {
  .conference-hall__background {
    height: 1350px;
  }
}
@media (min-width: 1260px) {
  .conference-hall__background {
    height: 620px;
  }
}
.conference-hall__title {
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 780px) {
  .conference-hall__title {
    margin-bottom: 85px;
  }
}
.conference-hall__tabs {
  width: 100%;
  list-style: none;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 780px) {
  .conference-hall__tabs {
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 70px !important;
  }
}
@media (min-width: 1260px) {
  .conference-hall__tabs {
    margin-bottom: 90px !important;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
  }
}
.conference-hall__tab {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 33px !important;
  transition: all 0.8s ease !important;
  cursor: pointer;
  height: 40px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin: 0 auto !important;
}
@media (min-width: 780px) {
  .conference-hall__tab {
    margin: 0 auto 20px !important;
  }
}
.conference-hall__tab.active {
  width: 100% !important;
  padding: 0 20px !important;
  height: 40px !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  background-color: #c09b78 !important;
  color: #fff !important;
}
.conference-hall__container {
  position: relative;
}
.conference-hall__content {
  animation: fade 1s ease;
}
.conference-hall__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1260px) {
  .conference-hall__wrapper {
    flex-direction: row;
  }
}
.conference-hall__left {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
}
@media (min-width: 1260px) {
  .conference-hall__left {
    height: 620px;
    width: 60%;
  }
}
.conference-hall__right {
  width: 100%;
  height: max-content;
}
@media (min-width: 1260px) {
  .conference-hall__right {
    width: 35%;
    height: 620px;
    padding-top: 30px;
  }
}
.conference-hall__right--conference {
  padding-top: 10px;
}
.conference-hall__button {
  width: 70%;
  height: 30px;
  font-size: 15px;
  top: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 33px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: rgba(194, 163, 134, 0.7);
  border: 1px solid #c09b78;
  transition: all 0.8s ease;
  position: relative;
}
@media (min-width: 550px) {
  .conference-hall__button {
    width: 70%;
    height: 65px;
    font-size: 30px;
  }
}
@media (min-width: 1260px) {
  .conference-hall__button {
    width: 385px;
  }
}
.conference-hall__button:hover {
  color: #c09b78;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1260px) {
  .conference-hall__left .swiper-slide {
    height: 620px;
  }
}

.conference-hall__left .swiper-slide img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 550px) {
  .conference-hall__left .swiper-slide img {
    max-height: 440px;
  }
}
@media (min-width: 780px) {
  .conference-hall__left .swiper-slide img {
    max-height: 620px;
  }
}
@media (min-width: 1260px) {
  .conference-hall__left .swiper-slide img {
    height: 100%;
  }
}

.conference-hall__left .swiper-pagination-bullet {
  position: relative;
  top: -40px;
  width: 10px;
  height: 10px;
  background-color: #fff;
}
@media (min-width: 550px) {
  .conference-hall__left .swiper-pagination-bullet {
    top: -75px;
  }
}
@media (min-width: 780px) {
  .conference-hall__left .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 1260px) {
  .conference-hall__left .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
  }
}

.scheme {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scheme__count {
  font-size: 25px;
  font-weight: 700;
}
.scheme__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.scheme__top--conference {
  justify-content: space-around;
  margin-bottom: 15px;
}
@media (min-width: 1260px) {
  .scheme__top--conference {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
@media (min-width: 1260px) {
  .scheme__top--wedding {
    margin-bottom: 30px;
  }
}
.scheme__flex-wraper-all {
  position: relative;
  top: -25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.scheme__flex-wraper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.scheme__title {
  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.scheme__title--lounge {
  font-size: 33px;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 1260px) {
  .scheme__title {
    text-align: left;
  }
}
.scheme__title--conference {
  text-align: center;
  text-transform: none;
  font-weight: 700;
  font-size: 50px;
}
@media (min-width: 1260px) {
  .scheme__title--conference {
    font-size: 37px;
  }
}
.scheme__title--wedding {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}
.scheme__subtitle {
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 1260px) {
  .scheme__subtitle {
    text-align: left;
    font-size: 27px;
  }
}
.scheme__line {
  width: 100%;
  height: 2px;
  background-color: #c09b78;
  margin-bottom: 30px;
}
@media (min-width: 1260px) {
  .scheme__line {
    width: 33%;
  }
}
.scheme__line::after {
  content: "";
  display: block;
  background-color: #c09b78;
  width: 100%;
  height: 3px;
  position: relative;
  left: 0;
  top: 3px;
}
@media (min-width: 1260px) {
  .scheme__line::after {
    width: 24.5%;
  }
}
.scheme__text {
  font-weight: 350;
  font-size: 18px;
  text-align: center;
}
.scheme__text--lounge {
  text-align: center;
  font-size: 19px;
  line-height: 70px;
  font-weight: 550;
}
@media (min-width: 1260px) {
  .scheme__text {
    text-align: left;
    font-size: 22px;
  }
}
.scheme__text--conference {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 780px) {
  .scheme__text--conference {
    text-align: left;
    font-size: 17px;
  }
}
.scheme__midle {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 1260px) {
  .scheme__midle {
    justify-content: space-between;
  }
}
.scheme__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  width: 80%;
  height: 60px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  background-color: #c09b78;
  border-radius: 33px;
  text-transform: uppercase;
  border: 2px solid #c09b78;
  transition: color 0.8s ease, background-color 0.8s ease;
}
.scheme__btn:hover {
  color: #c09b78;
  background-color: #fff;
}
.scheme__tabs-title {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 1260px) {
  .scheme__tabs-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.scheme__tabs {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 45px;
  justify-content: space-between;
}
@media (min-width: 1260px) {
  .scheme__tabs {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.scheme__tab-wraper {
  width: 29%;
}
.scheme__tab {
  width: 100% !important;
  cursor: pointer;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  text-transform: uppercase;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 2px solid #fff !important;
  transition: all 0.8s ease !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}
@media (min-width: 1260px) {
  .scheme__tab {
    padding: 5px 10px !important;
    font-size: 10px !important;
  }
}
.scheme__tab.active {
  border: 2px solid #c09b78 !important;
  color: #c09b78 !important;
}
.menu__menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu__menu--link {
  text-decoration: none;
  color: #fff;
  background-color: rgba(192, 155, 120, 0.7);
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c09b78;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu__menu--link:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: #c09b78;
}
.menu__left--wedding {
  background-image: url(../image/menu-wedding/wedding.jpg);
}
.menu__left--conference {
  background-image: url(../image/menu-conference/coffe.jpg);
}
.menu__left {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media (min-width: 780px) {
  .menu__left {
    width: 50%;
  }
}
.menu__shadow {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
}
.menu__rigth {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media (min-width: 780px) {
  .menu__rigth {
    width: 50%;
  }
}
.menu__rigth--wedding {
  background-image: url(../image/menu-wedding/banquet.jpg);
}
.menu__rigth--conference {
  background-image: url(../image/menu-conference/buffet-2.jpg);
}
.menu__wraper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 780px) {
  .menu__wraper {
    flex-direction: row;
  }
}
.menu__icon {
  width: 110px;
  height: 110px;
  margin-bottom: 30px;
}
.menu__text {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 780px) {
  .menu__text {
    font-size: 25px;
  }
}
@media (min-width: 1260px) {
  .menu__text {
    font-size: 36px;
    text-align-last: left;
  }
}

.propose__title {
  margin-bottom: 85px;
}
.propose__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 1260px) {
  .propose__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.propose__one {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1260px) {
  .propose__one {
    width: 33%;
    margin-bottom: 0;
  }
}
.propose__one img {
  object-position: 0 -15px;
}
.propose__two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1260px) {
  .propose__two {
    width: 33%;
    margin-bottom: 0;
  }
}
.propose__three {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1260px) {
  .propose__three {
    width: 33%;
  }
}
.propose__photo {
  display: block;
  width: 270px;
  height: 270px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 40px;
}
.propose__text {
  margin: 0 auto;
  height: 100px;
  font-size: 20px;
  font-weight: 600;
  max-width: 100%;
}

.projects__title {
  margin-bottom: 50px;
}
@media (min-width: 550px) {
  .projects__title {
    margin-bottom: 70px;
  }
}
@media (min-width: 780px) {
  .projects__title {
    margin-bottom: 85px;
  }
}
@media (min-width: 1260px) {
  .projects__title {
    margin-bottom: 100px;
  }
}

.projects__slider .swiper {
  width: 100%;
  height: 175px;
}
@media (min-width: 550px) {
  .projects__slider .swiper {
    height: 300px;
  }
}
@media (min-width: 780px) {
  .projects__slider .swiper {
    height: 450px;
  }
}
@media (min-width: 1260px) {
  .projects__slider .swiper {
    height: 600px;
  }
}
.projects__slider .swiper-slide img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.projects__slider .swiper-slide__video {
  height: 100%;
  transition: transform 0.5s ease;
}
.projects__slider .swiper-slide__video:hover {
  transform: scale(1.1);
}
.projects__slider .swiper-slide {
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__slider .swiper-slide--conference {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.projects__slider .swiper-button-next {
  display: none;
  right: 50px !important;
  left: auto;
}
@media (min-width: 780px) {
  .projects__slider .swiper-button-next {
    display: block;
  }
}
.projects__slider .swiper-button-next::after {
  color: white;
}
.projects__slider .swiper-button-prev {
  display: none;
  left: 50px !important;
  right: auto;
}
@media (min-width: 780px) {
  .projects__slider .swiper-button-prev {
    display: block;
  }
}
.projects__slider .swiper-button-prev::after {
  color: white;
}

.swiper-slide {
  position: relative;
}
.swiper-slide__description {
  position: absolute;
}

.desc {
  display: none;
  color: aliceblue;
}
@media (min-width: 780px) {
  .desc {
    display: block;
  }
}
.desc__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.desc__text {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 500px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(192, 155, 120, 0.7);
  position: relative;
  top: 100%;
}
@media (min-width: 1260px) {
  .desc__text {
    top: 100%;
  }
}

.form__subtext {
  font-size: 20px;
  font-weight: 350;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
@media (min-width: 1260px) {
  .form__subtext {
    font-size: 27px;
    width: max-content;
    text-align: left;
  }
}
.form__title {
  margin-bottom: 40px;
}
@media (min-width: 780px) {
  .form__title {
    margin-bottom: 70px;
  }
}
.form__title--conference {
  margin-bottom: 80px;
}
.form__form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 780px) {
  .form__form {
    gap: 70px;
  }
}
@media (min-width: 1260px) {
  .form__form {
    flex-direction: row;
    gap: 125px;
  }
}
.form__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 780px) {
  .form__left {
    margin: 0 auto;
    width: 70%;
    gap: 70px;
  }
}
@media (min-width: 1260px) {
  .form__left {
    width: 50%;
    gap: 80px;
  }
}
.form__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 780px) {
  .form__right {
    margin: 0 auto;
    width: 70%;
    gap: 70px;
  }
}
@media (min-width: 1260px) {
  .form__right {
    width: 50%;
    gap: 80px;
  }
}
.form__style {
  padding-left: 10px;
  position: relative;
  font-size: 16px;
  font-weight: 350px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c09b78;
  height: 50px;
  appearance: none;
}
@media (min-width: 780px) {
  .form__style {
    font-size: 20px;
  }
}
@media (min-width: 1260px) {
  .form__style {
    font-size: 24px;
  }
}
.form__style:focus {
  outline: 1px solid #c09b78;
}
.form__style::placeholder {
  font-weight: 300px;
  color: #000;
}
.form__btn {
  background-color: #fff;
  border: none;
}
.form__label {
  position: absolute;
  right: 5%;
}
.form__icon {
  width: 30px;
  height: 30px;
}
.form__date, .form__event, .form__hall {
  display: flex;
  align-items: center;
  position: relative;
}
.form__button {
  width: 100%;
  height: 50px;
  font-size: 32px;
  font-weight: 500;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33px;
  border: none;
  color: #fff;
  background-color: #c09b78;
  border: 1px solid #c09b78;
  transition: all 0.5s;
}
@media (min-width: 780px) {
  .form__button {
    width: 60%;
  }
}
@media (min-width: 1260px) {
  .form__button {
    width: 245px;
    height: 50px;
    font-size: 32px;
  }
}
.form__button:hover {
  background-color: #fff;
  color: #c09b78;
}

body {
  zoom: 0.9;
  -moz-transform: scale(0.9);
  -moz-transform-origin: 0 0;
}

/*# sourceMappingURL=style.css.map */
