* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "utils/fonts";
@import "utils/mixins";
@import "utils/vars";
@import "utils/extends";
@import "utils/animations";
@import "utils/grid";

@import "blocks/page";
@import "blocks/container";
@import "blocks/title";
@import "blocks/top";
@import "blocks/top-slider-wedding";
@import "blocks/top-wedding";
@import "blocks/placement-scheme";
@import "blocks/params";
@import "blocks/conference-hall";
@import "blocks/scheme";
@import "blocks/menu";
@import "blocks/propose";
@import "blocks/projects";
@import "blocks/form";

body {
  zoom: 0.9; 
  -moz-transform: scale(0.9); 
  -moz-transform-origin: 0 0;
}

// попробувати перенести тект на гору на відінг
// пофіксити відінг
// додати відос на конгрес хол