.projects {
  &__title {
    margin-bottom: 50px;

    @include onSmallTablet {
      margin-bottom: 70px;
    }

    @include onTablet {
      margin-bottom: 85px;
    }

    @include onDesktop {
      margin-bottom: 100px;
    }
  }
}

.projects__slider .swiper {
  width: 100%;
  height: 175px;

  @include onSmallTablet {
    height: 300px;
  }

  @include onTablet {
    height: 450px;
  }

  @include onDesktop {
    height: 600px;
  }

  &-slide img {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-slide__video {
    height: 100%;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-slide {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &--conference {
      max-height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-button-next {
    display: none;
    right: 50px !important;
    left: auto;

    @include onTablet {
      display: block;
    }

    &::after {
      color: white;
    }
  }

  &-button-prev {
    display: none;
    left: 50px !important;
    right: auto;

    @include onTablet {
      display: block;
    }

    &::after {
      color: white;
    }
  }
}

.swiper-slide {
  position: relative;

  &__description {
    position: absolute;
  }
}
.desc {
  display: none;
  color: aliceblue;

  @include onTablet {
    display: block;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 500px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(192, 155, 120, 0.7);
    position: relative;
    top: 100%;

    @include onDesktop {
      top: 100%;
    }
  }
}
